/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

.h-1\/3-screen {
  height: calc(100vh / 3);
}

.h-2\/3-screen {
  height: calc(100vh / 3 * 2);
}

.h-1\/4-screen {
  height: calc(100vh / 4);
}

.h-3\/4-screen {
  height: calc(100vh / 4 * 3);
}

.h-1\/5-screen {
  height: calc(100vh / 5);
}

.h-1\/6-screen {
  height: calc(100vh / 5);
}

em {
  background: yellow;
}